<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/Home.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="2880"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="unauthorized.aspx"/>
  </system.web>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=server;database=mahindar;uid=sa;password=123;" />-->
    <add name="Database" connectionString="User Id=root;Password=root;server=localhost;Database=dotnet_chitfunddb;convert zero datetime=True;Allow Zero Datetime=True"/>
    <!--<add name="Database" connectionString="User Id=root;Password=root;server=localhost;Database=chitfunddb"/>-->
  </connectionStrings>
</configuration>